{% from 'components/util.jinja' import attributes %}
{% macro button(button_content='Button', dispatch_name='button-click', variant='normal', color='primary', shape='rounded', size='md', type='button', attrs={}, link="", target="", rel="noopener nofollow", extra_class="", include_x_data=True) %}
    {# Variant support: normal, outline #}
    {# Color support: primary, secondary, accent, success, info, warning, error #}
    {# Shape support: rounded, square, circle #}
    {# Size support: xs, sm, md, lg, xl #}
    {% set class="inline-flex items-center justify-center shadow-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-"+color+"-600" %}
    {% if size == 'xs' %}
        {% set class = class + " px-2.5 py-1.5 text-xs" %}
    {% elif size == 'sm' %}
        {% set class = class + " px-3 py-2 text-sm" %}
    {% elif size == 'md' %}
        {% set class = class + " px-4 py-2 text-sm" %}
    {% elif size == 'lg' %}
        {% set class = class + " px-4 py-2 text-base" %}
    {% elif size == 'xl' %}
        {% set class = class + " px-6 py-3 text-base" %}
    {% endif %}
    {% if shape == 'rounded' %}
        {% set class = class + " rounded" %}
    {% elif shape == 'circle' %}
        {% set class = class + ' rounded-full' %}
    {% endif %}
    {% if variant == 'outline' %}
        {% set class = "{} text-{} bg-{}-content hover:text-{}-focus border border-{}".format(class, color, color, color, color) %}
    {% else %}
        {% set class = "{} text-{}-content bg-{} hover:bg-{}-focus".format(class, color, color, color) %}
    {% endif %}
    {% if link == "" %}
        <button type="{{ type }}"
            {#
                done to account for an issue with nested x-data in alpine headless components
                see https://github.com/alpinejs/alpine/discussions/3370 for more details
            #}
            {% if include_x_data %}x-data{% endif %}
            x-on:click="$dispatch('{{ dispatch_name }}', '{{ variant }} {{ color }} {{ shape }} {{ size }}')"
            class="{{ class }} {{ extra_class }}"
            {{ attributes(attrs) }}>
        {{ button_content }}
    </button>
    {% else %}
        <a
            href="{{ link }}"
            {% if target != "" %}target="{{ target }}"{% endif %}
            {% if target != "" %}rel="{{ rel }}"{% endif %}
            {{ attributes(attrs) }}
            class="{{ class }} {{ extra_class }}">
            {{ button_content }}
        </a>
    {% endif %}
{% endmacro %}
{#
    force tailwind to include these styles:
    text-primary-content bg-primary hover:bg-primary-focus border-primary bg-primary-content hover:text-primary-focus text-primary
    text-secondary-content bg-secondary hover:bg-secondary-focus border-secondary bg-secondary-content hover:text-secondary-focus text-secondary
    text-accent-content bg-accent hover:bg-accent-focus border-accent bg-accent-content hover:text-accent-focus text-accent
    text-success-content bg-success hover:bg-success-focus border-success bg-success-content hover:text-success-focus text-success
    text-info-content bg-info hover:bg-info-focus border-info bg-info-content hover:text-info-focus text-info
    text-warning-content bg-warning hover:bg-warning-focus border-warning bg-warning-content hover:text-warning-focus text-warning
    text-error-content bg-error hover:bg-error-focus border-error bg-error-content hover:text-error-focus text-error
    #}
