-r requirements.txt
ipdb
ptpython==0.21
pip-accel==0.31

# Debug Tools
django-debug-toolbar==1.3.0
django-template-debug==0.3.5

# Debug server
git+https://github.com/coagulant/django-devserver.git
Werkzeug==0.10.4
sqlparse==0.1.15
Dozer==0.4


### TESTING
model-mommy==1.2.5
coverage==4.0a5

#setting up heroku
virtualenvwrapper==4.5.1
