git+git://github.com/django/django.git@1.5b2
django-pipeline
cssmin
slimit
django-grappelli
django-filebrowser


#DB
psycopg2
south

#FORMS
django-crispy-forms
django-floppyforms

#GENERAL TOOLS
django-annoying
django-extensions
django-model-utils
unipath
pytz
feedparser


#REDIS CACHING
hiredis
redis
django-redis-cache
django-redis-sessions

## AWS
boto
django-storages
django-ses
django_smtp_ssl

#OPTIONAL TOOLS
#pillow
#whoosh
#django-haystack
