{% extends "base.html" %}

{% block title %}Password reset{% endblock %}


{% block content %}
<div>
   <h1>Forgotton Password</h1>
   <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>

   <form action="" method="post">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.email.label_tag }}</td>
        </tr>
        <tr>
            <td>{{ form.email }} </td>
        </tr>
        <tr>
            <td>{{ form.email.errors }}</td>
        </tr>
    </table>
    <button class="replace-this-class">Submit</button>
<!-- replace the above button class with the class(es) you make in _buttons.scss -->
    <div class="clear"></div>
</form>
</div>
{% endblock %}










