{% macro checkbox(name='I am the Senate', description='Believe in yourself, you must', default=false, color='primary', error='') %}
    {% if error %}
        {% set color = 'error' %}
    {% endif %}
    <fieldset class="space-y-5" x-id="['checkbox-input']" x-data>
        <div class="relative flex items-start">
            <div class="flex items-center h-5">
                <input :id="$id('checkbox-input')"
                       type="checkbox"
                       {% if default %} checked{% endif %}
                       class="focus:ring-{{ color }} h-4 w-4 text-{{ color }} border-gray-400 rounded"/>
            </div>
            {% if name or description or error %}
                <div class="ml-3 text-sm">
                    {% if name %}<label :for="$id('checkbox-input')" class="font-medium text-gray-700">{{ name }}</label>{% endif %}
                    {% if error %}
                        <p class="text-error">
                            {{ error }}
                        </p>
                    {% elif description %}
                        <p class="text-gray-500">
                            {{ description }}
                        </p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </fieldset>
{% endmacro %}
{#
focus:ring-primary focus:ring-secondary focus:ring-error focus:ring-success focus:ring-warning focus:ring-info focus:ring-accent
#}
