<template x-widget="x-modal" x-data>
    <span x-data="{ open: false }">
        <!-- Trigger -->
        <span x-on:click="open = true">
            <button type="button" class="bg-white border border-black px-4 py-2">Open dialog</button>
        </span>
        <!-- Modal -->
        <div x-show="open"
             style="display: none"
             x-on:keydown.escape.prevent.stop="open = false"
             role="dialog"
             aria-modal="true"
             x-id="['modal-title']"
             :aria-labelledby="$id('modal-title')"
             class="fixed inset-0 overflow-y-auto">
            <!-- Overlay -->
            <div x-show="open"
                 x-transition
                 opacity
                 class="fixed inset-0 bg-black bg-opacity-50"></div>
            <!-- Panel -->
            <div x-show="open"
                 x-transition
                 x-on:click="open = false"
                 class="relative min-h-screen flex items-center justify-center p-4">
                <div x-on
                     click
                     stop
                     x-trap.noscroll.inert="open"
                     class="relative max-w-2xl w-full bg-white border border-black p-8 overflow-y-auto">
                    <!-- Title -->
                    <slot name="header">
                    <h2 class="text-3xl font-medium" :id="$id('modal-title')">Confirm</h2>
                    </slot>
                    <!-- Content -->
                    <slot>some great default modal content</slot>
                    <!-- Buttons -->
                    <div class="mt-8 flex space-x-2">
                        <slot name="buttons">
                        <button type="button"
                                x-on:click="open = false"
                                class="bg-white border border-black px-4 py-2">Confirm</button>
                        <button type="button"
                                x-on:click="open = false"
                                class="bg-white border border-black px-4 py-2">Cancel</button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </span>
</template>
