<header class="bg-blue-600">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-6 flex items-center justify-between border-b border-grey-500 lg:border-none">
            <div class="flex items-center">
                <div class="hidden ml-10 space-x-8 lg:block">
                    <a href="#"
                       class="text-base font-medium text-white hover:text-indigo-50">dashboard</a>
                    <a href="#"
                       class="text-base font-medium text-white hover:text-indigo-50">second sections</a>
                    <a href="#"
                       class="text-base font-medium text-white hover:text-indigo-50">third sections</a>
                </div>
            </div>
            <div class="ml-10 space-x-4">
                {% if request.user.is_authenticated %}
                    <a href="{% url "account_logout" %}"
                       class="text-white py-2 px-4 text-base font-medium text-grey-600 hover:text-black">
                        Sign out
                    </a>
                {% else %}
                    <a href="{% url "user:account_welcome" %}"
                       class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-grey-600 hover:bg-grey-50">
                        Sign in
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
            <a href="#"
               class="text-base font-medium text-white hover:text-indigo-50">dashboard</a>
            <a href="#"
               class="text-base font-medium text-white hover:text-indigo-50">two</a>
            <a href="#"
               class="text-base font-medium text-white hover:text-indigo-50">three</a>
            <a href="#"
               class="text-base font-medium text-white hover:text-indigo-50">four</a>
        </div>
    </nav>


<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li><a>Item 1</a></li>
        <li tabindex="0">
          <a class="justify-between">
            Parent
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"/></svg>
          </a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <li><a>Item 1</a></li>
      <li tabindex="0">
        <a>
          Parent
          <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
        </a>
        <ul class="p-2">
          <li><a>Submenu 1</a></li>
          <li><a>Submenu 2</a></li>
        </ul>
      </li>
      <li><a>Item 3</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Get started</a>
  </div>
</div>

</header>
