{% extends "base.html" %}
{% block title %}
    Lightmatter Base Install
{% endblock title %}
{% block content %}
    Hello - it is now
    <p id="current-time">
        {% include 'current_time.html' %}
    </p>
    <button hx-push-url="false" hx-get="/current-time/" hx-target="#current-time">Refresh time</button>
    <x-modal>
    <template slot="header">
        <h1>Panel Header</h1>
    </template>
    <button type="button"
            x-on:click="open = false"
            class="bg-white border border-black px-4 py-2">
        default slot time
    </button>
    </x-modal>
{% endblock content %}
