{% extends "base.jinja" %}
{% from "components/button.jinja" import button %}
{% block title %}
  Lightmatter Base Install
{% endblock title %}
{% block content %}
  <div class="container mx-auto">
    {% set greeting='Hello There!' %}
    {% set greeting_styled %}
    <em class="text-2xl font-bold ">{{ greeting }}</em>
  {% endset %}
  <h1>{{ greeting_styled }}</h1>
  <div id="current-time">{% include "samples/current_time.jinja" %}</div>
  {{ button("Refresh time", attrs={"hx-get": url("current_time"), "hx-target": "#current-time", "hx-swap": "innerHTML", "hx-push-url": "false"}) }}
  {{ button("Test hx-redirect with messages", attrs={"hx-get": url("test_redirect"), "hx-push-url": "false"}) }}
  {{ button("Test hx-refresh with messages", attrs={"hx-get": url("test_refresh")}) }}
  <div id="random-chart">{% include "samples/random_chart.jinja" %}</div>
  {{ button('Refresh Chart', attrs={"hx-push-url": "false", "hx-get": url("random_chart"), "hx-target": "#random-chart", "hx-swap": "innerHTML"}) }}
</div>
{% endblock content %}
