{% extends "base.html" %}


{% block content %}


{% if set_password %}
<h1>Set Password</h1>
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{% csrf_token %}

<table>
    <tr>
        <td>{{ form.new_password1.label_tag }} </td>
    </tr>
    <tr>
        <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password1.errors }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2.label_tag }} </td>
    </tr>
    <tr>
        <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2.errors }}</td>
    </tr>
</table>

<button class="replace-this-class">Submit</button>
        <!-- replace the above button class with the class(es) you make in _buttons.scss -->
</form>

{% else %}

<h1>Password Change</h1>
<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<form action="" method="post">
{% csrf_token %}

<table>
    <tr>
        <td>{{ form.old_password.label_tag }}</td>
    </tr>
    <tr>
        <td>{{ form.old_password }}</td>
    </tr>
    <tr>
        <td>{{ form.old_password.errors }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password1.label_tag }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password1 }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password1.errors }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2.label_tag }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2 }}</td>
    </tr>
    <tr>
        <td>{{ form.new_password2.errors }}</td>
    </tr>
</table>
<button class="replace-this-class">Change my password</button>
        <!-- replace the above button class with the class(es) you make in _buttons.scss -->
</form>


{% endif %}
{% endblock %}
