{% extends 'base.html' %}

{% block content %}
<div class='login'>
  <h1>Registration</h1>
  <div class='box'>
    <input type='text' placeholder='Email' />
    <input type='password' placeholder='Password' />
    <input type='password' placeholder='First Name' />
    <input type='password' placeholder='Last Name' />
    <span class='agree'>
      <input type='checkbox' checked /> I agree to the <a href=''>Terms of service</a> and the <a href=''>Privacy Policy</a>
    </span>
    <input type='submit' />
  </div>
  <div class='notright'>
    Already have an account? <a href='{% url login %}'>Login</a>
  </div>
</div>
{% endblock %}
