$desktop: 800px;
$minimum-screen-width: 320px;

@mixin media($query) {
  @media screen and ($query) {
    @content;
  }
}

$desktop-up: 'min-width: #{$desktop}';
$desktop-down: 'max-width: #{$desktop - 1px}';