{% macro attributes(kwargs={}) %}
    {% if kwargs %}
        {% for name, value in kwargs.items() %}
            {% if value %}
                {{ name }}{% if value is not sameas True %}="{{ value }}"{% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
