{% with timeout=3_000 %}
    <div x-data="{ show: true }"
         x-init="setTimeout(() => { show = false; $el.innerHTML = ''; $el.remove(); }, {{ timeout }})"
         x-show="show"
         x-cloak
         x-transition
         class="rounded-md p-4 mt-2 toast-{{ message.level_tag }} htmx-added:opacity-0 opacity-100 transition-all duration-200">
        <div class="flex items-start">
            <div class="toast-img">{{ heroicon_solid("exclamation-triangle", class="w-7 h-7 mt-1") }}</div>
            <div class="ml-6">
                <div class="text-lg font-semibold">{{ message.level_tag|title }}</div>
                <div class="text-md">{{ message }}</div>
            </div>
        </div>
    </div>
{% endwith %}
