{% extends "account/account_base.jinja" %}
{% block account_title %}
    {% trans %}
        Change Password
    {% endtrans %}
{% endblock account_title %}
{% block account_content %}
    <p>
        {% trans %}
            Your password is now changed.
        {% endtrans %}
    </p>
{% endblock account_content %}
