{% extends "account/account_base.jinja" %}
{% block account_title %}
    {% trans %}
        Password Reset
    {% endtrans %}
{% endblock account_title %}
{% block account_content %}
    {% if request.user.is_authenticated %}
        {% include "account/snippets/already_logged_in.jinja" %}
    {% endif %}
    <p>
        {% trans %}
            We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
        {% endtrans %}
    </p>
{% endblock account_content %}
