{% from 'components/button/button.jinja' import button %}
{% extends "account/account_base.jinja" %}
{% block account_title %}
    {% if token_fail %}
        {% trans %}
            Bad Token
        {% endtrans %}
    {% else %}
        {% trans %}
            Change Password
        {% endtrans %}
    {% endif %}
{% endblock account_title %}
{% block account_content %}
    {% if token_fail %}
        {{ url('account_reset_password') }}
        <p>
            {% trans %}
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
            {% endtrans %}
        </p>
    {% else %}
        <form method="post" action="{{ action_url }}">
            {% csrf_token %}
            {{ form }}
            {{ button("Change Password", 'submit', type="submit") }}
        </form>
    {% endif %}
{% endblock account_content %}
