{% extends "account/account_base.jinja" %}
{% from 'components/button/button.jinja' import button %}
{% import 'svg/svg.jinja' as svg %}


{% block title %}
    Register
{% endblock title %}

{% block account_title %}
    {% trans %}
        Register
    {% endtrans %}
{% endblock account_title %}

{% block account_content %}
<form hx-post="{{ url('account_signup') }}"
    hx-target="#account-box"
    hx-select="#account-box"
    hx-swap="outerHTML"
    class="flex flex-col">
    {{ form }}
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {{ button("Create Account", 'submit', type="submit") }}
</form>
<a
    class="link mb-10" href="{{ url('account_login') }}">Already have an account?</a>
<div class="relative">
    <div class="absolute inset-0 flex items-center">
        <div class="w-full border-t border-gray-300"></div>
    </div>
    <div class="relative flex justify-center text-sm">
        <span class="px-2 bg-white text-gray-500">Or</span>
    </div>
</div>
<div class="mt-6">
    <div class="grid grid-cols-3 gap-3">
        <div>
            <a href="#"
               class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Sign in with Facebook</span>
                {{ svg.facebook() }}
            </a>
        </div>
        <div>
            <a href="#"
               class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Sign in with Twitter</span>
                {{ svg.twitter() }}
            </a>
        </div>
        <div>
            <a href="#"
               class="w-full inline-flex justify-center py-2 px-4 border border-gray-300 rounded-md shadow-sm bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                <span class="sr-only">Sign in with GitHub</span>
                {{ svg.github() }}
            </a>
        </div>
    </div>
</div>
{% endblock account_content %}
