body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex: 1;
}

#loading-body {
  position: fixed;
  top: 50%;
  z-index: 40;
}


button {
  @apply inline-flex items-center px-4 py-2 border border-transparent text-base font-medium
    rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500;

  justify-content: center;
}
