:root {
  --accent: #111827;
  --accent-focus: #030509;
  --accent-content: #fff;
  --primary: #2d36a8;
  --primary-focus: #00075e;
  --primary-content: #fff;
  --secondary: #d1d5db;
  --secondary-focus: #e5e8ed;
  --secondary-content: #000;
  --error: #f87171;
  --error-focus: #991b1b;
  --error-content: #fef2f2;
  --warning: #facc15;
  --warning-focus: #854d0e;
  --warning-content: #fefce8;
  --success: #4ade80;
  --success-focus: #166534;
  --success-content: #f0fdf4;
  --info: #60a5fa;
  --info-focus: #1e40af;
  --info-content: #eff6ff;
  --slate: #54565a;
  --silver: #b1b1b1;
}
