/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import "tailwindcss/base";

/**
 * This injects any component classes registered by plugins.
 *
 */
@import "tailwindcss/components";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */
@import "tailwindcss/utilities";


@layer base {
    h1 {
      @apply text-8xl font-bold;
  
      line-height: 6rem;
    }
  
    h2 {
      @apply text-7xl font-bold;
  
      line-height: 4.5rem;
    }
  
    h3 {
      @apply text-6xl font-bold;
  
      line-height: 3.75rem;
    }
  
    h4 {
      @apply text-5xl font-bold;
  
      line-height: 3rem;
    }
  
    h5 {
      @apply text-4xl font-semibold;
  
      line-height: 2.5rem;
    }
  
    h6 {
      @apply text-3xl font-semibold;
  
      line-height: 2.25rem;
    }
  
    .display {
      @apply text-9xl font-bold;
    }
  }
  