<!-- adapted from https://tailwind-elements.com/snippets/tailwind/tailwindelements/3548499#html-tab-view -->
<div class="shadow-lg rounded-lg overflow-hidden m-10" id="random-chart">
    <div class="py-3 px-5 bg-gray-50">Random Chart</div>
    <canvas class="p-10" id="chartLine"></canvas>
</div>
<!-- Required chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- Chart line -->
{% script type="application/javascript" async=False %}
<script>
  { // the reason this is in a module is so there are no variable redeclaration errors
    function rn(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    } // random number between min and max
    let labels = [];
    let datasets = [];
    const data = {
      labels: labels,
      datasets: datasets,
    };
    const configLineChart = {
      type: "line",
      data,
      options: {}
    };
    var chartLine = new Chart(
      document.getElementById("chartLine"),
      configLineChart
    );
    {% set rc = random_chart() %}
    {% for i in range(rc[1]|length)%}
      datasets.push(
        {
          label: "Dataset {{ i }}",
          backgroundColor : `rgba(${rn(0,255)},${rn(0,255)},${rn(0,255)},0.5)`,
          borderColor : `rgba(${rn(0,255)},${rn(0,255)},${rn(0,255)},1)`,
          data: [],
          fill: {{ i }} + 1,
        },
      );
    {% endfor %}
    {% for data in rc %}
      setTimeout(function(){
        labels.push({{ loop.index0 }} + 1)
        {% for j in data %}          datasets[{{ loop.index0 }}].data.push({{ j }});{% endfor %}
          chartLine.update();
      }, 750 * {{ loop.index0 }});
    {% endfor %}
  }
</script>
{% endscript %}
