{% for message in messages %}
    <li class="rounded-md bg-green-50 p-4"
        hx-swap-oob="beforeend:#messages"
        v-scope="{visible: true}"
        v-show="visible">
        <div class="flex">
            <div class="flex-shrink-0">
                <i class="far fa-check-circle"></i>
            </div>
            <div class="ml-3">
                <p class="text-sm font-medium text-green-800">
                    {{ message }}
                </p>
            </div>
            <div class="ml-auto pl-3">
                <div class="-mx-1.5 -my-1.5">
                    <button @click="visible=false"
                            type="button"
                            class="inline-flex bg-green-50 rounded-md p-1.5 text-green-500 hover:bg-green-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-50 focus:ring-green-600">
                        <span class="sr-only">Dismiss</span>
                        <i class="far fa-times"></i>
                    </button>
                </div>
            </div>
        </div>
    </li>
{% endfor %}
