{% from 'components/util.jinja' import attributes %}
{% macro date_datetime(name=none, value=none, id=none, attrs={}, time=false) %}
    {% set event_name = "update-"|join(id | replace('_', '-')) if id else "" %}
    {% do attrs.update({"name": name, "value": value}) %}
    <div x-data="dateTime('{{ event_name }}', '{{ value }}', {{ 'true' if time else 'false' }})"
         class="w-full input">
        <input class="w-full rounded-md border border-gray-200 px-3 py-2.5" x-ref="picker" type="text" {{ attributes(attrs) }}/>
    </div>
{% endmacro %}
{#
    Django date or datetime widget to date_datetime macro
 #}
{% macro widget_to_date_datetime(widget, time=false) %}
    {{ date_datetime(name=widget.name, value=widget.value, id=widget.attrs.id, attrs=widget.attrs, time=time) }}
{% endmacro %}
