{# different widgets could use totally different base styles, leave a hook to control #}
{# or Sometimes third party controls come with their own styling, so for these widgets do not style #}
{%- macro input_widget_hook(field) -%}
    {%- if field.widget_type == "select" -%}
        select
    {%- elif field.widget_type == "radioselect" -%}
        radio
    {%- elif field.widget_type == "textarea" -%}
        textarea
    {%- else -%}
        input
    {%- endif -%}
{%- endmacro -%}
{% macro input_shell(field, errors='') %}
    <div class="field {% if errors %}error {% endif %}{{ input_widget_hook(field) }}">
            {{ field }}
            {% if field.label %}{{ field.label_tag() }}{% endif %}
            <div class="right-icon {% if errors is not none %}hidden{% endif %}">
                {{ heroicon_solid("exclamation-circle", class="text-error")}}
            </div>
        </div>
{% endmacro %}
{% macro boolean_shell(field, errors='') %}
    <div class="boolean-field flex items-center {% if errors %} error{% endif %}">
        {% if field.label %}{{ field.label_tag() }}{% endif %}
        {{ field }}
    </div>
{% endmacro %}
{% macro radio_shell(field, errors='') %}
    <div class="radio-field {% if errors %} error{% endif %}">
        <div class="{{ input_widget_hook(field) }}">{{ field }}</div>
    </div>
{% endmacro %}
{% macro file_shell(field, errors='') %}
    <div class="file-field {% if errors %} error{% endif %}">
        {% if field.label %}{{ field.label_tag() }}{% endif %}
        <div class="{{ input_widget_hook(field) }}">{{ field }}</div>
    </div>
{% endmacro %}
{% macro field(field, errors='', layout_classes='w-full') %}
    {% set wrapper_element = "fieldset" if field.widget_type == "radioselect" else "div" %}
    <{{ wrapper_element }} class="{{ layout_classes }} {{ field.css_classes() }}">
    {% if field.widget_type == "toggle" %}
        {{ boolean_shell(field, errors)}}
    {% elif field.widget_type in ["radioselect", "checkboxselectmultiple"] %}
        <legend>
            {{ field.label }}
        </legend>
        {{ radio_shell(field, errors)}}
    {% elif "file" in field.widget_type %}
        {{ file_shell(field, errors)}}
    {% else %}
        {{ input_shell(field, errors)}}
    {% endif %}
    <div class="text-error {% if errors is not none %}hidden{% endif %}">{{ errors }}</div>
    {% if field.help_text %}
        <p class="text-sm text-gray-500">{{ field.help_text|safe }}</p>
    {% endif %}
    </{{ wrapper_element }}>
{% endmacro %}
