{% macro multiple_input(optgroups, attrs={}) %}
    <div class="flex flex-col items-start{% if attrs.class %} {{attrs.class}}{% endif %}"{% if attrs.id %} id="{{attrs.id}}"{% endif %}>
        {% for group, options, index in optgroups %}
            {% if group %}<div><label>{{ group }}</label>{% endif %}
            {% for widget in options %}
                <div>
                    {% include widget.template_name %}
                </div>
            {% endfor %}
            {% if group %}</div>{% endif %}
        {% endfor %}
    </div>
{% endmacro %}
{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_multiple_input(widget) %}
    {{ multiple_input(optgroups=widget.optgroups, attrs=widget.attrs)}}
{% endmacro %}
