{% from 'components/util.jinja' import attributes %}
{% macro password(name='password', value=None, event_name="", attrs={}) %}
    <div x-data="password('update-{{ event_name | replace('_', '-') }}', '{{ value }}', 'password')" x-ref="input"
        :class="active ? 'has-focus' : ''"
         class="w-full z-10 flex items-center relative password">
        <input  @focus="updateFlag" @blur="updateFlag" x-model.debounce.500ms="value" :type="type" name="{{ name }}" class="mr-8" {% if value != None %}value="{{ value }}"{% endif %} {{ attributes(attrs)}} />
        <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer"
             @click="type='password'"
             x-cloak
             x-show="type==='text'">
            {{ heroicon_outline("eye-slash", class="w-6 h-6") }}
        </div>
        <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer"
             @click="type='text'"
             x-show="type==='password'">
            {{ heroicon_outline("eye", class="w-6 h-6") }}
        </div>
    </div>
{% endmacro %}
{% macro widget_to_password(widget) %}
    {{ password(name=widget.name, value=widget.value, event_name=widget.attrs.id, attrs=widget.attrs )}}
{% endmacro %}
