{% from 'components/util.jinja' import attributes %}
{% macro text_area(type="text", name=none, value=none, event_name="", color='primary', attrs={}, left_icon='', right_icon='') %}
    <div x-data="input('update-{{ event_name | replace('_', '-') }}', '{{ value }}')"
        :class="active ? 'has-focus' : ''"
        x-ref="input"
         class="w-full input">
        <textarea
            @focus="updateFlag" @blur="updateFlag"
            x-model.debounce.500ms="value"
            {% do attrs.update({"type": type, "name": name, "value": value}) %}
            {{ attributes(attrs)}}
        >
            {% if value %}{{value}}{% endif %}
        </textarea>
    </div>
{% endmacro %}
{# takes a django widget and calls our textarea macro with the appropriate args #}
{% macro widget_to_textarea(widget) %}
    {{ text_area(type=widget.type, name=widget.name, value=widget.value, event_name=widget.attrs.id, attrs=widget.attrs )}}
{% endmacro %}
