{% from 'components/util.jinja' import attributes %}

{% macro toggle(name="", value=False, attrs={}) %}
    {% if attrs.class %}
        {% set class = "{{attrs.class}}" %}
    {% else %}
        {% set class = "flex items-center justify-center" %}
    {% endif %}
    {% if attrs.label_class %}
        {% set label_class = "{{attrs.label_class}}" %}
    {% else %}
        {% set label_class = "text-gray-900 font-medium" %}
    {% endif %}
    {% if attrs.switch_wrapper_class %}
        {% set switch_wrapper_class = "{{attrs.switch_wrapper_class}}" %}
    {% else %}
        {% set switch_wrapper_class = "relative ml-4 inline-flex w-14 rounded-full py-1 transition" %}
    {% endif %}
    {% if attrs.switch_active_color %}
        {% set switch_active_color = "{{attrs.switch_active_color}}" %}
    {% else %}
        {% set switch_active_color = "bg-slate-400" %}
    {% endif %}
    {% if attrs.switch_inactive_color %}
        {% set switch_inactive_color = "{{attrs.switch_inactive_color}}" %}
    {% else %}
        {% set switch_inactive_color = "bg-slate-300" %}
    {% endif %}
    {% if attrs.switch_inner_class %}
        {% set switch_inner_class = "{{attrs.switch_inner_class}}" %}
    {% else %}
        {% set switch_inner_class = "bg-white h-6 w-6 rounded-full transition shadow-md" %}
    {% endif %}
    {% if attrs.switch_active_inner_class %}
        {% set inner_active_class = "{{attrs.switch_active_inner_class}}" %}
    {% else %}
        {% set inner_active_class = "translate-x-7" %}
    {% endif %}
    {% if attrs.switch_inactive_inner_class %}
        {% set inner_inactive_class = "{{attrs.switch_inactive_inner_class}}" %}
    {% else %}
        {% set inner_inactive_class = "translate-x-1" %}
    {% endif %}
    {% set disabled, readonly = attrs.disabled, attrs.readonly %}
    {% set noedit = disabled or readonly %}
    <div
        x-data="{ value: {{value|tojson}} }"
        x-switch:group
        class="{{class}}"
    >
        <input type="hidden" name="{{name}}" :value="value" {{attributes(attrs)}} />
        <button
            x-switch
            x-model="value"
            :class="$switch.isChecked ? '{{switch_active_color}}' : '{{switch_inactive_color}}'"
            class="{{switch_wrapper_class}}"
            {% if noedit %}disabled="true"{% endif %}
        >
            <span
                :class="$switch.isChecked ? '{{inner_active_class}}' : '{{inner_inactive_class}}'"
                class="{{switch_inner_class}}"
            ></span>
        </button>
    </div>
{% endmacro %}

{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_toggle(widget) %}
    {{ toggle(name=widget.name, value=widget.value, attrs=widget.attrs )}}
{% endmacro %}