{% macro og_tags(title="Home", url="", type="website", description="", image_url="TODO", image_type="image/jpeg", image_width="1200", image_height="630", image_alt="Logo") %}
    <meta property="og:type" content="{{type}}" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:url" content="{{url}}" />

    <meta property="og:image" content="{{image_url}}"/>
    <meta property="og:image:type" content="{{image_type}}" />
    <meta property="og:image:width" content="{{image_width}}" />
    <meta property="og:image:height" content="{{image_height}}" />
    <meta property="og:image:alt" content="A screenshot of the homepage" />

    <meta property="fb:app_id" content="TODO" />
{% endmacro %}