{% macro attributes(kwargs={}) %}
    {% for name, value in kwargs.items() %}
        {% if value %}
            {{ name }}{% if value is not sameas True %}="{{ value }}"{% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% if is_pattern_library %}
    {{ form_attrs(attrs) }}
{% endif %}
