{% macro attributes(kwargs={}) %}
    {% if kwargs %}
        {% for name, value in kwargs.items() %}
            {% if value %}
                {{ name }}{% if value is not sameas True %}="{{ value }}"{% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro get_event_name_from_id(id="") %}
{% if id %}update-{{ id | replace('_', '-')}}{% endif %}
{% endmacro %}
