<div class="form-wrapper justify-between">
    {{ errors }}
    {% for field, errors in fields %}
        {% if field.name == 'remember' %}
            {% include "django/forms/checkbox.html" with field=field errors=errors %}
        {% else %}
            {% include "django/forms/inputgroup.html" with field=field errors=errors %}
        {% endif %}
    {% endfor %}
    <a href="{% url "account_reset_password" %}" class="link">Forgot your password?</a>
    {% for field in hidden_fields %}{{ field }}{% endfor %}
</div>
