{% from 'forms/field.jinja' import field as f %}
<div x-data="signup()"
     x-on:update-id-password1="password1 = $event.detail.value"
     x-on:update-id-password2="password2 = $event.detail.value"
     class="form-wrapper gap-x-6 justify-between mb-6">
    {{ errors }}
    {% for field, errors in fields %}
        {% if field.name == 'first_name' or field.name == 'last_name' %}
            {{ f(field, errors, 'w-5/12') }}
        {% else %}
            {{ f(field, errors) }}
        {% endif %}
    {% endfor %}
    {% for field in hidden_fields %}{{ field }}{% endfor %}
</div>
