<span x-data="{input: 'password'}" class="relative">
    <input :type="input"
           name="{{ widget.name }}"
           {% if widget.value != None %} value="{{ widget.value }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
    <div class="absolute inset-y-0 right-0 pr-9 flex items-center cursor-pointer"
         @click="input='password'"
         x-cloak
         x-show="input==='text'">
        {{ heroicon_outline("eye-off", class="w-6 h-6") }}
    </div>
    <div class="absolute inset-y-0 right-0 pr-9 flex items-center cursor-pointer"
         @click="input='text'"
         x-show="input==='password'">
        {{ heroicon_outline("eye", class="w-6 h-6") }}
    </div>
</span>
