@import "colors";
@import "typography";
@import "fonts";
@import "forms";
@import "flatpickr";

/* sticky footer */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;

  // Example font-family inclusion
  // font-family: "GT Walsheim Pro", sans-serif;
}

html {
  -webkit-tap-highlight-color: transparent;
}


// for center positioned elements, that should stay in the same position
// when the y-scrollbar is present or not
// you could also do this as "padding-left: calc(100vw - 100%);"
// which will shrink the viewport vs hiding under the scrollbar
@mixin no-jitter-scrollbar {
  margin-right: calc(-1 * (100vw - 100%));
}

#app {
  flex: 1;

  @include no-jitter-scrollbar;
}

header {
  @include no-jitter-scrollbar;
}

#loading-body {
  position: fixed;
  top: 50%;
  z-index: 40;
}

/* alpine */
[x-cloak] {
  display: none !important;
}
