{% set default_title %}
Did YOU ever hear the Tragedy of Darth Plagueis the Wise?
{% endset %}
{% set default_content %}
<h2>I thought not. It's not a story the Jedi would tell you.</h2>
{% endset %}
{% set default_back %}
{% endset %}
{% macro account_box(title=default_title, content=default_content, back=default_back ) %}
    <div class="mt-20 sm:mx-auto sm:w-full sm:max-w-md" id="account-box">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 flex flex-col justify-center relative">
            {{ back }}
            <img class="mx-auto h-12 w-auto"
                 src="{{ static("img/logo.svg") }}"
                 alt="logo">
            <h2 class="mt-2 mb-4 text-center text-xl font-bold text-gray-900">{{ title }}</h2>
            {{ content }}
        </div>
    </div>
{% endmacro %}
