This is the activation email


{{activation_key}}
The activation key for the new account.

{{expiration_days}}
The number of days remaining during which the account may be activated.

{{site}}
An object representing the site on which the user registered; depending on whether django.contrib.sites is installed, this may be an instance of either django.contrib.sites.models.Site (if the sites application is installed) or django.contrib.sites.models.RequestSite (if not). Consult the documentation for the Django sites framework for details regarding these objects’ interfaces.
