@import "compass/css3/background-size";

@import "compass/layout.scss";

@include sticky-footer(88px, "#main", "#main-footer", "#footer");


@import "registration";
@import "buttons";
@import "variables";
@import "nav";
@import "footer";

.container {
    width: 960px;
    margin: 0 auto;
}

.clear {
    clear: both;
    margin: 0 auto;
}
