<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{%block title%} {%endblock title%}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>

    {% load compressed %}
    {% compressed_css 'screen' %}
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

    {% block header %}
    <header class="navbar navbar-inverse navbar-fixed-top">
    {% include "nav.html" %}
    </header>
    {% endblock header %}
    <div class="container" id="main">
      {% block content %}
      {% endblock content %}
    </div> <!-- /container -->
	{% include "footer.html" %}

    {% compressed_js 'vendor' %}
    {% compressed_js 'app' %}
    {% block body_media %}
    {% endblock body_media %}
    <script>
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
