{% from 'components/button/button.jinja' import button %}
{% from 'components/util.jinja' import attributes %}

{% set default_panel_1 %}
    <div><h4>Panel 1</h4></div>
{% endset %}
{% set default_panel_2 %}
    <div><h4>Panel 2</h4></div>
{% endset %}

{% set default_tabs = [
    {
        'label': {'label': "Tab1"},
        'tab': {'content': default_panel_1}
    },
    {
        'label': {'label': "Tab2"},
        'tab': {'content': default_panel_2}
    }
] %}

{% macro tab_label(label="Tab Label", label_attrs={}, class="inline-flex rounded-t-md border-t border-l border-r px-5 py-2.5", selected_class="border-gray-200 bg-white", unselected_class="border-transparent") %}
    {% set button_attrs = label_attrs.update({'x-tabs:tab': True}) %}
    <button x-tabs:tab type="button"
            :class="$tab.isSelected ? '{{selected_class}}' : '{{unselected_class}}'"
            class="{{class}}"
            {{ attributes(label_attrs) }}
        >{{label}}</button>
{% endmacro %}

{% macro tab_label_list(tabs=default_tabs, labels_style="-mb-px flex items-stretch", labels_attrs={}) %}
    <div x-tabs:list class="{{labels_style}}"  {{ attributes(labels_attrs) }}>
        {% for tab in tabs %}
            {{tab_label(**tab['label'])}}
        {% endfor %}
    </div>
{% endmacro %}

{% macro panel(content=default_panel_1, tab_class="p-4", tab_attrs={}) %}
    <section x-tabs:panel class="{{tab_class}}" {{ attributes(tab_attrs) }}>
        {{content}}
    </section>
{% endmacro %}

{% macro panel_list(tabs=default_tabs, panels_style="rounded-b-md border border-gray-200 bg-white", panels_attrs={}) %}
    <div x-tabs:panels class="{{panels_style}}" {{ attributes(panels_attrs) }}>
        {% for tab in tabs %}
            {{panel(**tab['tab'])}}
        {% endfor %}
    </div>
{% endmacro %}

{% macro tabs(tabs=default_tabs, tabs_style="mx-auto max-w-3xl w-full", labels_list_style="-mb-px flex items-stretch", panels_list_style="rounded-b-md border border-gray-200 bg-white", tabs_attrs={}, labels_list_attrs={}, panels_list_attrs={}) %}
    <div x-data x-tabs class="relative {{tabs_style}}" {{ attributes(tabs_attrs) }}>
        {{tab_label_list(tabs, labels_list_style, labels_list_attrs) }}
        {{panel_list(tabs, panels_list_style, panels_list_attrs)}}
    </div>
{% endmacro %}