/**
 * NOTE: This is used for django admin only
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@import "tailwindcss/base";

/**
 * This injects any component classes registered by plugins.
 *
 */
@import "tailwindcss/components";

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 */
@import "tailwindcss/utilities";
