{% from 'components/flyout/flyout.jinja' import flyout %}
{% from 'components/button/button.jinja' import button %}
{% if not request or not request.user.is_authenticated %}
    <div class="flex-shrink-0">
        <a href="{{ url('account_login') }}"
           class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-grey-600 hover:bg-grey-50">
            Sign in
        </a>
    </div>
{% else %}
    {% set button_for_menu %}
    <span class="sr-only">Open user menu</span>
    <img class="h-8 w-8 rounded-full"
         src="https://images.unsplash.com/photo-1601814933824-fd0b574dd592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80"
         alt="{{ request.user.first_name }} {{ request.user.last_name }} Profile">
{% endset %}
{% set menu_style = "origin-top-right absolute right-0 mt-2 w-48 py-1 bg-white focus:outline-none" %}
<div class="hidden md:ml-4 md:flex-shrink-0 md:flex md:items-center">
    {# see button.jinja for more details about include_x_data #}
    {% call flyout(button(button_for_menu, include_x_data=False, attrs={"x-menu:button": True}), menu_style) %}
        <div role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="#"
               class="block px-4 py-2 text-sm text-gray-700"
               role="menuitem"
               tabindex="-1"
               id="user-menu-item-0">
                <img class="h-10 w-10 rounded-full"
                     src="https://images.unsplash.com/photo-1601814933824-fd0b574dd592?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1112&q=80"
                     alt="{{ request.user.first_name }} {{ request.user.last_name }} Profile">
            {{ request.user.first_name }} {{ request.user.last_name }} {{ request.user.email }}</a>
            <a href="#"
               class="block px-4 py-2 text-sm text-gray-700"
               role="menuitem"
               tabindex="-1"
               id="user-menu-item-0">Your Profile</a>
            <a href="#"
               class="block px-4 py-2 text-sm text-gray-700"
               role="menuitem"
               tabindex="-1"
               id="user-menu-item-1">Settings</a>
            <a href="{{ url('account_logout') }}"
               class="block px-4 py-2 text-sm text-gray-700"
               role="menuitem"
               tabindex="-1">
                Sign out
            </a>
        </div>
    {% endcall %}
</div>
{% endif %}
