{% if not request.user.is_authenticated %}
    <div class="flex-shrink-0">
        <a href="{% url "user:account_welcome" %}"
           class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-grey-600 hover:bg-grey-50">
            Sign in
        </a>
    </div>
{% else %}
    <div class="hidden md:ml-4 md:flex-shrink-0 md:flex md:items-center">
        <!-- Profile dropdown -->
        {% component_block "flyout" menu_style="origin-top-right absolute right-0 mt-2 w-48  py-1 bg-white focus:outline-none" button_style="bg-white rounded-full flex text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %}
        {% slot button %}
        <span class="sr-only">Open user menu</span>
        <svg class="h-8 w-8 rounded-full"
             xmlns="http://www.w3.org/2000/svg"
             fill="none"
             viewBox="0 0 24 24"
             stroke="currentColor"
             strokeWidth
             2>
            <path strokeLinecap="round"
                  strokeLinejoin="round"
                  d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"/>
        </svg>
    {% endslot button %}
    {% slot "content" %}
    <div class=""
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="user-menu-button"
         tabindex="-1">
        <!-- Active: "bg-gray-100", Not Active: "" -->
        <a href="#"
           class="block px-4 py-2 text-sm text-gray-700"
           role="menuitem"
           tabindex="-1"
           id="user-menu-item-0">Your Profile</a>
        <a href="#"
           class="block px-4 py-2 text-sm text-gray-700"
           role="menuitem"
           tabindex="-1"
           id="user-menu-item-1">Settings</a>
        <a href="{% url "account_logout" %}"
           class="block px-4 py-2 text-sm text-gray-700"
           role="menuitem"
           tabindex="-1">
            Sign out
        </a>
    </div>
{% endslot %}
{% endcomponent_block %}
</div>
{% endif %}
