<div class="flex-shrink-0 flex items-center">
    <a href="{{ url('home') }}">
        <img class="block lg:hidden h-8 w-auto"
             src="{{ static('img/logomark.svg') }}"
             alt=""/>
        <img class="hidden lg:block h-8 w-auto"
             src="{{ static('img/logo.svg') }}"
             alt=""/>
    </a>
</div>
