<div class="-ml-2 mr-2 flex items-center md:hidden">
    <!-- Mobile menu button -->
    <button type="button"
            class="inline-flex items-center justify-center p-4 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
            aria-controls="mobile-menu"
            @click="open=!open"
            :aria-expanded="open">
        <span class="sr-only">Open main menu</span>
        <div class="w-6 flex items-center justify-center relative">
            <span x-bind:class="open ? 'translate-y-0 rotate-45' : '-translate-y-2'"
                  class="transform transition w-full h-px bg-current absolute"></span>
            <span x-bind:class="open ? 'opacity-0 translate-x-3' : 'opacity-100'"
                  class="transform transition w-full h-px bg-current absolute"></span>
            <span x-bind:class="open ? 'translate-y-0 -rotate-45' : 'translate-y-2'"
                  class="transform transition w-full h-px bg-current absolute"></span>
        </div>
    </button>
</div>
