{
    "presets": [
        ["env", {
            "es6": true,
            "targets": {
                "node": "current",
                "browsers": [
                    "Chrome >= 60",
                    "FireFox >= 55",
                    "Safari >= 10",
                    "Explorer 11",
                    "last 4 Edge versions"
                ]
            }
        }]
    ],
    "plugins": [
        "transform-es2015-destructuring",
        "transform-es2015-parameters",
        "transform-object-rest-spread",
        "transform-decorators-legacy"
    ]
}
