{% if cookiecutter.stripe == "y" -%}
STRIPE_SECRET_KEY="{{ cookiecutter.stripe_key }}"
STRIPE_PUBLIC_KEY=""
{%- endif %}
SENDGRID_USERNAME=""
SENDGRID_PASSWORD=""
DATABASE_URL="psql://{{ cookiecutter.repo_name }}:{{cookiecutter.repo_name}}@localhost/{{cookiecutter.repo_name}}"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_STORAGE_BUCKET_NAME=""

REDIS_URL="redis://localhost:6379"
REDISTOGO_URL=""
DJANGO_SETTINGS_MODULE="{{ cookiecutter.repo_name }}.settings.local"
DEBUG=on
WSGI_APPLICATION="{{ cookiecutter.repo_name }}.wsgi.application"
SSLIFY_DISABLE=off
