{
  // Extend existing configuration
  // from ESlint and eslint-plugin-react defaults.
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "es6": true, //enables properties like Set()
    "browser": true,
    "node": true,
    "jquery": true
  },
  // Enable custom plugin known as eslint-plugin-react
  "plugins": [
      "prettier"
  ],
  "rules": {
      // Disable `no-console` rule
      "no-console": 0,
      //disable the "no-debugger" rule
      "no-debugger": 0,
      // Default to single quotes and raise an error if something
      // else is used
      "quotes": [2, "single", { "avoidEscape": true }],
      "comma-dangle" : 0,
      "prettier/prettier": ["error"],
      "react/react-in-jsx-scope": 0,
      "react/no-unescaped-entities": 0,
      "react/jsx-props-no-spreading": 0,
      "react/forbid-prop-types": 0
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
