{
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/react",
    "plugin:jest-dom/recommended", 
    "plugin:import/typescript",
    "plugin:react/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true, //enables properties like Set()
    "browser": true,
    "node": true,
    "jquery": true
  },
  // Enable custom plugin known as eslint-plugin-react
  "plugins": [
      "import",
      "prettier",
      "jest-dom",
      "@typescript-eslint"
  ],
  "rules": {
      "@typescript-eslint/comma-dangle": "off",
      "@typescript-eslint/indent": "off",
      // Disable `no-console` rule
      "no-console": 0,
      //disable the "no-debugger" rule
      "no-debugger": 0,
      // Default to single quotes and raise an error if something
      // else is used
      "quotes": [2, "single", { "avoidEscape": true }],
      "comma-dangle" : 0,
      "prettier/prettier": ["error"],
      "react/react-in-jsx-scope": 0,
      "react/no-unescaped-entities": 0,
      "react/jsx-props-no-spreading": 0,
      "react/forbid-prop-types": 0,
      "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.test.ts", "**/*.test.tsx", "setupTests.js"]}]
  },
  "parserOptions": {
      "ecmaVersion": 7,
      "sourceType": "module",
      "project": "tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    },
    "react": {
      "version": "detect"
    }
  }
}
