repos:

#python
-   repo: local
    hooks:
    -   id: black
        name: black
        entry: poetry run black
        types: [python]
        language: system
-   repo: local
    hooks:
    -   id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]
-   repo: local
    hooks:
    -   id: flakehell
        name: flakehell
        entry: poetry run flakehell lint
        types: [python]
        language: system

## system
-   repo: https://github.com/asottile/pyupgrade
    rev: v2.30.0
    hooks:
    -   id: pyupgrade
        args: [--py39-plus]
-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.4.0
    hooks:
    -   id: django-upgrade
        args: [--target-version, "3.2"]
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: check-yaml
#    -   id: end-of-file-fixer
#    -   id: trailing-whitespace
    -   id: mixed-line-ending
-   repo: https://github.com/pycqa/doc8
    rev: 0.10.1
    hooks:
    -   id: doc8

#javascript
# -   repo: https://github.com/pre-commit/mirrors-prettier
#     rev: v2.5.1
#     hooks:
#     -   id: prettier
#         files: ^frontend/
#         types_or: [javascript]
