repos:
  ## system
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.2.3
    hooks:
        - id: pyupgrade
          args: [--py311-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.12.0
    hooks:
        - id: django-upgrade
          args: [--target-version, "4.1"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
        - id: check-yaml
        #    -   id: end-of-file-fixer
        #    -   id: trailing-whitespace
        - id: debug-statements
        - id: mixed-line-ending
  - repo: https://github.com/pycqa/doc8
    rev: v1.0.0
    hooks:
        - id: doc8

  #python
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    -   id: black
        exclude: .*migrations/.*
        name: black
        types: [python]

  - repo: https://github.com/flakeheaven/flakeheaven
    rev: 3.2.1
    hooks:
    -   id: flakeheaven
        name: flakeheaven
        exclude: .*migrations/.*
        args: [--config=pyproject.toml]
        additional_dependencies:
            - flake8-mutable==1.2.0
            - pylint==2.15.7
            - pylint-celery==0.3
            - pylint-django==2.5.3

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Ruff version.
    rev: 'v0.0.215'
    hooks:
      - id: ruff

  # TODO:  https://github.com/adamchainz/pre-commit-oxipng

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v14.16.0
    hooks:
    -   id: stylelint
        name: stylelint
        files: ^frontend/
        types_or: [css, scss]
        args: [--report-needless-disables, --report-invalid-scope-disables, --fix, --allow-empty-input]
        additional_dependencies:
            # stylelint itself needs to be here when using additional_dependencies.
            - stylelint@14.16.0
            - stylelint-config-standard-scss@6.1.0

  ## frontend
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: "v8.29.0"
    hooks:
        - id: eslint
          name: eslint
          files: ^frontend/
          types_or: [javascript, ts]
          args: [--fix]
          additional_dependencies:
              - eslint@8.29.0
              - "@typescript-eslint/eslint-plugin"
              - "@typescript-eslint/parser"
              - eslint-config-airbnb-base@15.0.0
              - eslint-import-resolver-alias@1.1.2
              - eslint-import-resolver-typescript@3.5.2
              - eslint-plugin-import@2.26.0

  - repo: local
    hooks:
        - id: tsc
          name: tsc
          entry: npx tsc --noEmit
          files: ^frontend/
          language: system
          types_or: [javascript, ts]
          pass_filenames: false
