repos:
    ## system
    - repo: https://github.com/asottile/pyupgrade
      rev: v2.30.0
      hooks:
          - id: pyupgrade
            args: [--py310-plus]
    - repo: https://github.com/adamchainz/django-upgrade
      rev: 1.4.0
      hooks:
          - id: django-upgrade
            args: [--target-version, "4.0"]
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-yaml
          #    -   id: end-of-file-fixer
          #    -   id: trailing-whitespace
          - id: debug-statements
          - id: mixed-line-ending
    - repo: https://github.com/pycqa/doc8
      rev: 0.10.1
      hooks:
          - id: doc8
    # TODO:  https://github.com/adamchainz/pre-commit-oxipng

    #python
    - repo: https://github.com/pycqa/isort
      rev: 5.10.1
      hooks:
          - id: isort
            exclude: .*migrations/.*
            name: isort
            types: [python]

    - repo: https://github.com/psf/black
      rev: 22.3.0
      hooks:
          - id: black
            name: black
            types: [python]
            exclude: .*migrations/.*

    - repo: https://github.com/flakeheaven/flakeheaven
      rev: 1.0.1
      hooks:
          - id: flakeheaven
            name: flakeheaven
            exclude: .*migrations/.*
            args: [--config=pyproject.toml]
            additional_dependencies:
                - bandit==1.7.4
                - flake8-bugbear==22.4.25
                - flake8-bandit==3.0.0
                - flake8-builtins==1.5.3
                - flake8-eradicate==1.2.1
                - flake8-mutable==1.2.0
                - pylint==2.13.9
                - pylint-celery==0.3
                - pylint-django==2.5.3

    ## frontend
    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: "v8.17.0"
      hooks:
          - id: eslint
            name: eslint
            files: ^frontend/
            types_or: [javascript, ts]
            args: [--fix]
            additional_dependencies:
                - eslint@8.17.0
                - "@typescript-eslint/eslint-plugin"
                - "@typescript-eslint/parser"
                - eslint-config-airbnb-base@15.0.0
                - eslint-import-resolver-alias@1.1.2
                - eslint-import-resolver-typescript@2.7.1
                - eslint-plugin-import@2.26.0
    - repo: local
      hooks:
          - id: tsc
            name: tsc
            entry: npx tsc --noEmit
            files: ^frontend/
            language: system
            types_or: [javascript, ts]
            pass_filenames: false

    - repo: https://github.com/thibaudcolas/pre-commit-stylelint
      rev: v14.8.1
      hooks:
          - id: stylelint
            name: stylelint
            args:
                [
                    --report-needless-disables,
                    --report-invalid-scope-disables,
                    --fix,
                    --allow-empty-input,
                ]
            additional_dependencies:
                # stylelint itself needs to be here when using additional_dependencies.
                - stylelint@14.8.1
                - stylelint-config-standard-scss@4.0.0
