# fly.toml file generated on 2021-12-28T20:18:42-05:00

app = "{{cookiecutter.repo_name}}"

kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  dockerfile = "compose/prod/django/Dockerfile"

[deploy]
  release_command = "python /app/manage.py migrate"

[env]
  PORT = "8080"
  ALLOWED_HOSTS = "*"

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 0
    timeout = "2s"
