Django>=1.9,<1.10
django-environ==0.4.0

#Admin
Pillow==3.2.0
django-localflavor==1.2
django-import-export==0.4.5

#Static hosting
django-pipeline==1.6.8
libsass==0.11.0
cssmin==0.2.0
slimit==0.8.1
jsmin==2.2.1
#manifesto==0.5

#DB
psycopg2==2.6.1

#User Accounts
django-registration-redux==1.4
python-social-auth==0.2.16

#Forms
git+https://github.com/gregmuellegger/django-floppyforms.git#egg=django_floppyforms
git+https://github.com/agiliq/Django-parsley.git@03fbb0e116a47bb0b10edf560ad587d71951bbb7#egg=django_parsley


{% if cookiecutter.django_registration == 'n' %}
# user authentication
djoser==0.4.3
{% endif %}


{% if cookiecutter.django_registration == 'n' %}
# user authentication
djoser==0.4.3
{% endif %}


{% if cookiecutter.django_registration == 'n' %}
# user authentication
djoser==0.4.3
{% endif %}


#Utils
django-extensions==1.6.1
django-model-utils==2.5
django-braces==1.8.1
pytz==2016.3
easy-thumbnails==2.3

#REDIS CACHING
hiredis==0.2.0
redis==2.10.5
django-redis-cache==1.6.5
django-redis-sessions==0.5.0

## AWS
boto==2.39.0
django-storages==1.4.1

#HEROKU
dj-database-url==0.4.1
whitenoise==3.0
django-toolbelt==0.0.1
ipython==4.1.2
gunicorn==19.4.5

#OPTIONAL TOOLS
#whoosh
#django-haystack

#Money

{% if cookiecutter.stripe == 'y' %}
stripe==1.12.0
{% endif %}

#standard utilities
raven==5.13.0
#celery==3.1.18
sendgrid-django==2.0.0
