{% macro form_attrs(attrs) %}
    {% for name, value in attrs.items() %}
        {% if value is not sameas False %}
            {{ name }}{% if value is not sameas True %}="{{ value }}"{% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% if is_pattern_library %}
    {{ form_attrs(attrs) }}
{% endif %}
