{% from 'components/util.jinja' import attributes, get_event_name_from_id %}

{% macro checkbox_field(field, errors) %}
    <div class="relative flex items-start{% if errors %} error{% endif %}">
        <div class="flex items-center h-5">{{ checkbox_widget(field.field.widget, value=field.value(), id=field.id_for_label) }}</div>
        <div class="ml-3 text-sm">
            {% if field.label %}{{ field.label_tag() }}{% endif %}
            {% if field.help_text %}
            <p class="text-gray-500">
                {{ field.help_text|safe }}
            </p>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro checkbox_widget(widget, value=False, id="") %}
    {% set attrs = widget.attrs %}
    {% do attrs.update({"name": widget.name, "value": value, "type": widget.type}) %}
    {% set event_name = get_event_name_from_id(id) %}

    <input
        type="checkbox"
        x-data="input('{{ event_name }}', '{{ value or "" }}')"
        x-ref="input" class="input {{ input_classes or ""}} {{attrs.class or ""}}" {{ attributes(attrs)}}
    />
{% endmacro %}
