{% from 'components/util.jinja' import attributes, get_event_name_from_id %}
{% from "forms/wrappers.jinja" import boolean_shell %}

{% macro checkbox_field(field, errors) %}
    {{ boolean_shell(field, errors, wrapper_classes="gap-4") }}
{% endmacro %}

{% macro checkbox_widget(widget, value=False, id="") %}
    {% set attrs = widget.attrs %}
    {% do attrs.update({"name": widget.name, "value": value, "type": widget.type}) %}
    {% set event_name = get_event_name_from_id(id) %}

    <input
        type="checkbox"
        x-data="input('{{ event_name }}', '{{ value or "" }}')"
        x-ref="input" class="input {{ input_classes or ""}} {{attrs.class or ""}}" {{ attributes(attrs)}}
    />
{% endmacro %}
