{% from 'forms/input.jinja' import input %}
{% macro clearable_file_input(type="file", name="", value=None, is_initial=False, initial_text="", required=False, checkbox_name="", checkbox_id="", clear_checkbox_label="", input_text="", attrs={}) %}
    <div x-data="input('update-{{ attrs.id | replace('_', '-') }}', '{{ value }}')"
         class="w-full input flex items-center pb-2">
        {% if is_initial %}
            {{widget.initial_text}}: <a href="{{value.url}}">{{value}}</a>
            {% if not required %}
                {{ input(type="checkbox", name=checkbox_name, attrs={'id': checkbox_id, 'disabled': attrs.disabled}) }}
                <label for="{{checkbox_id}}">{{clear_checkbox_label}}</label>
            {% endif %}
            <br>
            {{input_text}}:
        {% endif %}
        {{ input(type=type, name=name, attrs=attrs, input_classes="flex justify-center text-sm file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-primary-focus") }}
    </div>
{% endmacro %}
{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_clearable_file_input(widget) %}
    {{ clearable_file_input(type=widget.type, name=widget.name, value=widget.value, is_initial=widget.is_initial, initial_text=widget.initial_text, required=widget.required, checkbox_name=widget.checkbox_name, checkbox_id=widget.checkbox_id, clear_checkbox_label=widget.clear_checkbox_label, input_text=widget.input_text, attrs=widget.attrs)}}
{% endmacro %}
