{% from "forms/checkbox.jinja" import checkbox_field %}
{% from "forms/radio.jinja" import radio_field %}
{% from "forms/date_datetime.jinja" import datetime_field, time_field, date_field %}
{% from "forms/clearable_file_input.jinja" import clearable_file_input_field %}
{% from "forms/input.jinja" import input_field, number_field, email_field, url_field %}
{% from "forms/password.jinja" import password_field %}
{% from "forms/textarea.jinja" import textarea_field %}
{% from "forms/toggle.jinja" import toggle_field %}

{% macro field(field, errors='', layout_classes='w-full') %}
    {% if field.widget_type == "text" %}
        {{ input_field(field, errors) }}
    {% elif field.widget_type == "number" %}
        {{ number_field(field, errors) }}
    {% elif field.widget_type == "url" %}
        {{ url_field(field, errors) }}
    {% elif field.widget_type == "email" %}
        {{ email_field(field, errors) }}
    {% elif field.widget_type == "password" %}
        {{ password_field(field, errors) }}
    {% elif field.widget_type == "checkbox" %}
        {{ checkbox_field(field, errors) }}
    {% elif field.widget_type == "textarea" %}
        {{ textarea_field(field, errors) }}
    {% elif field.widget_type == "toggle" %}
        {{ toggle_field(field, errors) }}
    {% elif field.widget_type == "radioselect" %}
        {{ radio_field(field, errors) }}
    {% elif field.widget_type == "datetime" %}
        {{ datetime_field(field, errors) }}
    {% elif field.widget_type == "date" %}
        {{ date_field(field, errors) }}
    {% elif field.widget_type == "time" %}
        {{ time_field(field, errors) }}
    {% elif field.widget_type == "clearablefile" %}
        {{ clearable_file_input_field(field, errors) }}
    {% else %}
        <span class="text-red-50">{{ field.widget_type }} not handled by default field macro</span>
    {% endif %}
{% endmacro %}
