{% from 'forms/input.jinja' import input_widget %}

{% macro input_option_widget(widget) %}
    {% if widget.wrap_label %}<label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %}>{% endif %}
    {{ input_widget(widget) }}
    {% if widget.wrap_label %} {{ widget.label }}</label>{% endif %}
{% endmacro %}
