{% macro inputgroup(field, errors='', layout_classes='w-full', css_classes='') %}
    <div class="{{ layout_classes }} {{ field.css_classes() }}">
        {% if field.label %}{{ field.label_tag() }}{% endif %}
        <div class="mt-1 field relative {% if errors %} error{% endif %}">
            {{ field }}
            {% if errors %}
                <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                    {{ heroicon_solid("exclamation-circle", class="h-5 w-5 text-red-500") }}
                </div>
            {% endif %}
        </div>
        {% if errors %}
            <div class="text-red">{{ errors }}</div>
        {% elif field.help_text %}
            <p class="mt-2 text-sm text-gray-500" id="email-description">
                {{ field.help_text|safe }}
            </p>
        {% endif %}
    </div>
{% endmacro %}
