{% from 'components/util.jinja' import attributes %}

{% macro input(type="text", name=none, value=none, model="input", color='primary', attrs={}, left_icon='', right_icon='') %}
    {% set disabled, readonly = attrs.disabled, attrs.readonly %}
    {% set noedit = disabled or readonly %}
    <input
        {% set _ = attrs.update({"type": type, "name": name, "value": value}) %}
        {{attributes(attrs)}}
    />
{% endmacro %}

{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_input(widget) %}
    {{ input(type=widget.type, name=widget.name, value=widget.value, model=widget.attrs.id, attrs=widget.attrs )}}
{% endmacro %}

{% if is_pattern_library %}
    {{ input() }}
{% endif %}
