{% from 'components/util.jinja' import attributes %}
{% macro input(type="text", name=none, value=none, event_name="", color='primary', attrs={}, left_icon='', right_icon='', input_classes="") %}
    {% set disabled, readonly = attrs.disabled, attrs.readonly %}
    {% set noedit = disabled or readonly %}
        <input
        {% if type !="checkbox" %}
            {#
                The following attrs are responsible for frontend validation (not used in admin) and label behavior for inputs/texareas.
                May also need to be disabled for radio buttons if admin misbehaves again.
             #}
            x-model.debounce.500ms="value"
            :class="{'has-focus': active}"
            @focus="updateFlag" @blur="updateFlag" @input="updateFlag"
        {% endif %}
        x-data="input('update-{{ event_name | replace('_', '-') }}', '{{ value }}')"
        x-ref="input" class="input {{ input_classes }} {{attrs.class}}" {% do attrs.update({"type": type, "name": name, "value": value}) %} {{ attributes(attrs)}} />
{% endmacro %}
{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_input(widget) %}
    {{ input(type=widget.type, name=widget.name, value=widget.value, event_name=widget.attrs.id, attrs=widget.attrs )}}
{% endmacro %}
