{% from 'forms/input.jinja' import input %}
{% macro input_option(type="text", name=none, value=none, event_name="", color='primary', attrs={}, left_icon='', right_icon='', wrap_label=False, label="") %}
    {% if wrap_label %}
        <label{% if attrs.id %} for="{{ attrs.id }}"{% endif %}>
    {% endif %}
    {{ input(type=type, name=name, value=value, event_name=event_name, color=color, attrs=attrs, left_icon=left_icon, right_icon=right_icon) }}
    {% if wrap_label %} {{ label }}</label>{% endif %}
{% endmacro %}
{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_input_option(widget) %}
    {{ input_option(type=widget.type, name=widget.name, value=widget.value, event_name=widget.attrs.id, attrs=widget.attrs, wrap_label=widget.wrap_label, label=widget.label) }}
{% endmacro %}
