{% from 'components/util.jinja' import attributes %}


{% macro label(label, tag='label', target='', error=False, class='', attrs={}) %}
    {% if tag %}
        <{{ tag }} for={{target}} {{ attributes(attrs)}}>
          {{ label }}
        </{{ tag }}>
    {% else %}
        {{ label }}
    {% endif %}
{% endmacro %}
{# force tailwind to use this
translate-y-2.5
#}


{# called in the django label template, and calls our label macro with the appropriate args #}
{% macro django_to_label(field, label_text, use_tag, tag, attrs={}) %}
    {% set disabled = field.field.disabled %}
    {% set readonly = field.field.widget.attrs.readonly %}
    {% if disabled %} {% set class = "translate-y-2 cursor-not-allowed" %}
    {% elif readonly %} {% set class = "-translate-y-2 translate-x-2 text-xs bg-white px-1 cursor-not-allowed" %}
    {% else %} {% set class = "cursor-text transition" %} {% endif %}

    {% if use_tag and tag %}
        {{ label(label=label_text, tag=tag, target=field.auto_id, error=field.errors, attrs=attrs, class=class) }}
    {% else %}
        {{ label(label=label, attrs=attrs) }}
    {% endif %}
{% endmacro %}
