{% from 'components/util.jinja' import attributes, get_event_name_from_id %}
{% from "forms/wrappers.jinja" import input_shell %}

{% macro password_field(field, errors) %}
    {{ input_shell(field, errors) }}
{% endmacro %}

{% macro password_widget(widget) %}
    {% set attrs = widget.attrs or {} %}
    {% do attrs.update({"name": widget.name}) %}
    {% set event_name = get_event_name_from_id(widget.attrs.id) %}
    <div
        x-data="password('{{ event_name }}', '{{ widget.value }}', 'password')"
        x-ref="input"
        :class="active ? 'has-focus' : ''"
        class="w-full z-10 flex items-center relative password"
    >
    <input x-model.debounce.500ms="value" :type="type" class="!pr-10" {{ attributes(attrs) }} />
        <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer"
             @click="type='password'"
             x-cloak
             x-show="type==='text'">
            {{ heroicon_outline("eye-slash", class="w-6 h-6") }}
        </div>
        <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer"
             @click="type='text'"
             x-show="type==='password'">
            {{ heroicon_outline("eye", class="w-6 h-6") }}
        </div>
    </div>
{% endmacro %}
