{% macro radio(name="", value="", optgroups="", attrs={}) %}
    {% if attrs.radio_active_color %}
        {% set radio_active_color = "{{attrs.radio_active_color}}" %}
    {% else %}
        {% set radio_active_color = "primary" %}
    {% endif %}
    {% if attrs.radio_class %}
        {% set radio_class = "{{attrs.radio_class}}" %}
    {% else %}
        {% set radio_class = "inline-flex h-4 w-4 shrink-0 items-center justify-center rounded-full border-2 border-white ring-1 ring-gray-600" %}
    {% endif %}
    <div class="radio py-4">
        <div x-data="{value: '{{value.0}}'}" x-radio x-model="value" class="flex flex-col gap-4">
            {% for group_name, group_choices, group_index in optgroups %}
                {{ radio_optgroup(group_name, group_choices, group_index, radio_class, radio_active_color) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro radio_optgroup(name, choices, index, radio_class, radio_active_color) %}
    {% for choice in choices %}
        <div
            x-radio:option
            value="{{choice.value}}"
            class="flex items-center"
        >
            <input
                id="{{ choice.attrs.id }}"
                type="{{ choice.type }}"
                name="{{ choice.name }}"
                value="{{ choice.value }}"
                x-bind:checked="value === '{{choice.value}}'"
                class="hidden"
            >
            <span
                :class="{ 'bg-{{radio_active_color}}': $radioOption.isChecked }"
                class="radio-choice-ring {{radio_class}}"
                aria-hidden="true"
            ></span>
            <span class="ml-3">
                <!-- Primary Label -->
                <p x-radio:label>{{choice.label}}</p>
            </span>
        </div>
    {% endfor %}
{% endmacro %}

{% macro widget_to_radio(widget) %}
    {{ radio(name=widget.name, value=widget.value, optgroups=widget.optgroups, attrs=widget.attrs) }}
{% endmacro %}
