{% from 'components/util.jinja' import attributes, get_event_name_from_id %}

{% macro choice_field(field, errors) %}
    {{ field }}
{% endmacro %}

{% macro select_widget(widget)  %}
    {% set event_name = get_event_name_from_id(widget.attrs.id) %}
<select
    x-data="select"
    x-ref="select"
    @change="$dispatch('{{event_name}}')"
    {{ attributes(widget.attrs) }}>
    {% for name, choices, index in widget.optgroups %}
      {{ select_optgroup(name, choices) }}
    {% endfor %}
</select>
{% endmacro %}

{% macro select_option(widget) %}
    <option
        value="{{ widget.value }}"
        {{attributes(widget.attrs) }}
    >
        {{ widget.label }}
    </option>
{% endmacro %}


{% macro select_optgroup(name, choices) %}
    {% if name %}<optgroup label="{{ name }}">{% endif %}
        {% for widget in choices %}
            {{ select_option(widget) }}
        {% endfor %}
    {% if name %}</optgroup>{% endif %}
{% endmacro %}
