{% from 'components/util.jinja' import attributes %}

{% macro select_option(value, label, attrs) %}
    <option
        value="{{ value }}"
        {{attributes(attrs) }}
    >
        {{ label }}
    </option>
{% endmacro %}


{% macro select_optgroup(name, choices, index) %}
    {% if name %}<optgroup label="{{ name }}">{% endif %}
        {% for widget in choices %}
            {% include widget.template_name %}
        {% endfor %}
    {% if name %}</optgroup>{% endif %}
{% endmacro %}



{% macro select(name, value, optgroups, attrs, dispatch_name="select", placeholder="") %}
<select
    x-data="select"
    x-ref="select"
    @change="$dispatch('{{dispatch_name}}')"
    name="{{ name }}"
    {{ attributes(attrs) }}>
    {% for group_name, group_choices, group_index in optgroups %}
      {{ select_optgroup(group_name, group_choices, group_index) }}
    {% endfor %}
</select>
{% endmacro %}



{# takes a django widget and calls our input macro with the appropriate args #}
{% macro widget_to_select(widget) %}
    {{select( name=widget.name, value=widget.value, optgroups=widget.optgroups, attrs=widget.attrs )}}
{% endmacro %}
