@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';
@import "forms";
@import "header";
@import "footer";

html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  #main {
    flex: 1 1 auto;
  }

  .container {
    @include xy-grid-container();
  }
}
