@import 'mixins';
@import 'variables';
@import 'typography';
@import 'buttons';
@import "forms";
@import 'animations';
@import "header";
@import "footer";
@import "styleguide";

html, body {
  overflow-x: hidden;
}

body {
  .swup-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  #main {
    flex: 1 1 auto;
  }

  .container {
    @include xy-grid-container();
  }
}
