h1 {
  letter-spacing: 1px;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
}

p {
  font-size: 16px;
}

strong {
  font-weight: 600;
}

.error {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  transition: color 0.1s ease-out
}

select {
  -moz-appearance: none;

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
